:root {
  --CorPrincipal: white;
  --colorSegudaria: grey;
  --botao: blue;
  --Fundo: black;
}

body {
  background-color: var(--Fundo);
  color: var(--CorPrincipal);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.Titulo {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}
.principal {
  background-image: url("img/Background.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50% 50%;
  text-align: center;
  align-items: center;
}
.caixa {
  margin: 0 6em;
}
.AluraIMG {
  margin: 1em 0 2em 0;
}

.BotaoAlura1 {
  background-color: var(--botao);
  text-decoration: none;
  border-radius: 10px;
  color: var(--CorPrincipal);
  padding: 1rem;
  display: block;
  margin-bottom: 1em;
}

.BotaoAlura1:hover {
  transition: 2ms;
  background-color: darkblue;
}

.BotaoAlura2 {
  background-color: transparent;
  border: 2px solid var(--CorPrincipal);
  text-decoration: none;
  border-radius: 10px;
  color: var(--CorPrincipal);
  padding: 1rem;
  display: block;
  margin-bottom: 1em;
}

.SegundaParte {
  margin-top: 9em;
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: center;
}
.PlataformaIMG {
  width: 30%;
  margin-right: 2em;
}
.TituloSegunda {
  font-weight: 700;
  font-size: 48px;
  color: var(--CorPrincipal);
  margin-bottom: 0.2em;
}

.ParagrafoSegundo {
  color: var(--colorSegudaria);
}

.TerceiraParte {
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: center;
  margin-top: 7em;
  margin-left: 9em;
  color: var(--colorSegudaria);
}
.ParagrafoSegundo {
  margin-right: 4em;
}
.TelaIMG {
  width: 30%;
  margin-right: 6em;
}
.BotaoAlura3 {
  margin-top: 1em;
  display: inline-block;
}

.device {
  margin: 9em 0;
  text-align: center;
}

.deviceTitulos {
  font-size: 48px;
  color: var(--CorPrincipal);
}
.deviceLista {
  display: flex;
  justify-content: center;
}
.lista_itens {
  color: var(--CorPrincipal);
  font: 32px;
}

footer {
  text-align: center;
  margin-bottom: 3em;
}

footer img {
  margin-bottom: 1em;
}
footer ul {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

footer a {
  text-decoration: none;
  color: var(--CorPrincipal);
  margin: 0 8px;
}

footer a:hover {
  color: darkblue;
}

footer li {
  margin-bottom: 2em;
}

footer p {
  font-size: 14px;
  color: var(--colorSegudaria);
}
