body {
  font-family: "Arimo", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  background-color: black;
}

/* -------------------------------- HEADER ---------------------------------- */

header {
  padding: 20px;
  background-color: rgb(0, 0, 0);
  border-bottom: 5px groove #14213d;
}
.logo {
  width: 240px;
  border-radius: 40px;
}
.caixa {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.caixa li {
  display: inline-block;
  margin: 0 20px;
}
.caixa li:hover {
  transform: scale(1.4);
}

.caixa li a {
  font-size: 30px;
  color: #e5e5e5;
  text-decoration: none;
  font-weight: bold;
  padding: 4px;
  text-transform: uppercase;
  /*border: 1px solid;
  border-radius: 5px;*/
}

/*----------------------------------- BODY -------------------------------------------*/

.formatando {
  /*border: 1px blue solid; */
  margin: 20px;
  font-size: 40px;
  text-align: center;
  color: yellow;
  text-transform: uppercase;
  font-weight: 900;
}


.gifs {
  /* border: 1px red solid;*/
  display: flex ;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}

.elementos {
  display: inline-block;
  margin: 0 auto;
  padding: 0px 10px;
}

.tamanho{
  width: 430px;
  height: 480px;
}
.tituloGif {
  /* border: 1px green solid; */
  margin: 10px 0;
  font-weight: bold;
  font-size: 40px;
  color: white;
  text-align: center;
}

.legenda {
  
  padding: 1em 0;
  text-align: center;
  color: antiquewhite;
  font-size: 30px;
}
