header {
  padding: 10px;
  font-size: 60px;
  text-align: center;
  background-color: antiquewhite;
  color: red;
}

ul {
  margin-top: 20px;
  border: solid;
  border-color: aqua;
  display: flex;
  align-items:center; 
  justify-content: space-around;
}

.foto1 {
 
  padding:30px;
  text-align: center;

}

.foto2 {
  align-items: center;
  border: solid black;
  text-align: center;

}

.foto3 {
  border: solid black;
  align-items:flex-end;
  text-align: center;
}

.legenda {
  font-size: 50px;
}
