@media screen and (min-width: 0) {
  .cabecalho {
    padding: 0 1rem;
  }
  .sobre {
    padding: 2rem 1rem;
  }
}

@media screen and (min-width: 768px) {
  .cabecalho {
    padding: 0 5rem;
    justify-content: space-between;
  }
  .sobre {
    padding: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }
  .banner-imagem {
    height: calc(100vh-51px);
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .pessoas {
    flex-direction: column;
  }
  .pessoa {
    margin-bottom: 2rem;
  }
}
